@import url('https://fonts.googleapis.com/css2?family=Alice&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.green-brand {
    color: #24704B;
}

.white-brand {
    color: #f8f9fa;
}

.gold-brand {
    color: #FFBD59;
}

.bg-gold-brand {
    background-color: #FFBD59;
}

.bg-green-brand {
    background-color: #24704B;
}

/* ..................................................Body Styles  */

body {
    background-color: #fcf8eb;
    font-family: "Roboto Serif", serif;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}

.content-container {
    min-height: 100%;
    flex: 1;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Alice, serif;
    font-weight: 700;
}

/* ..................................................Navbar styles  */

.navbar {
    position: relative;
    z-index: 1000;
    min-height: 50px;
    border: 1px solid transparent;
    margin-bottom: 0 !important;
}

.navbar-brand {
    font-family: Alice, serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.header-design {
    background-color: #24704B;
    color: white;
}

.nav-link:hover {
    color: #FFBD59 !important;
}

.active {
    color: #FFBD59 !important;
}

/* ..................................................Footer section Style  */

.page-footer {
    background-color: #24704B;
    color: white;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
}

.footer-links {
    list-style-type: none;
    color: white;
    text-decoration: none;
}

.footer-headers {
    text-align: center;
}

.social-icons {
    text-align: center;
}

.icons {
    padding: 20px;
    font-size: 32px;
    text-decoration: none;
    color: #f8f9fa;
}

.icons:hover {
    color: #FFBD59;
}

.footer-address {
    text-align: center;
}

/* ..................................................Main Hero Image Style  */

.hero-text {
    width: 90%;
    margin: auto;
}

.jumbotron {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(36, 112, 75, 0.40)),
        url('https://assets3.thrillist.com/v1/image/3055098/1200x630/flatten;crop_down;webp=auto;jpeg_quality=70');
    background-size: cover;
    height: 600px;
    color: white;
    margin-bottom: 0;
    padding-top: 50px;
}

.jumbotron p {
    font-size: 1.5rem;
}

.hero-btn {
    width: 100%;
}

.btn-yellow-outline {
    border: 1px solid #FFBD59;
}

.btn-yellow-outline:hover {
    color: white;
    background-color: #FFBD59;
}

/* ..................................................About Section Style  */

.hor-line {
    border: 1px solid #FFBD59;
    border-radius: 5px;
    width: 20%;
}

.about-image {
    margin: auto 0;
    border-radius: 20px;
    width: 600px;
    height: 400px;
}

#about-section {
    color: black;
    font-size: larger;
}

.about-heading {
    text-align: center;
}

/* ..................................................Contact Info Section Style  */
.maps {
    width: 90%;
    height: 350px;
    padding: 20px;
    margin: 0px auto;
    display: inline-block;
    border-radius: 20px;
}

.contact-section {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(36, 112, 75, 0.80)),
        url('https://assets3.thrillist.com/v1/image/2859420/1000x666/flatten;crop;webp=auto;jpeg_quality=60.jpg');
    padding: 20px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ..................................................Menu Section Style  */

.menu-item {
    align-items: center;
    margin-bottom: 20px;
    background-color: #fcf8eb;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
    border: 3px solid #FFBD59;
}

.menu-item-details {
    flex-grow: 1;
}

.menu-item-title {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.menu-item-description {
    margin-top: 0;
    margin-bottom: 10px;
}

.menu-item-price {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.menu-container {
    background-color: #fff;
}

.menu {
    padding-top: 15px;
    text-align: center;
}


.book-a-table {
    margin-bottom: 50px;
}

/* ------------------------------------------ Manage bookings card styles */
.card {
    height: 100%;
}

.booking-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media (max-width: 767.98px) {
    .booking-container .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .booking-container .col-lg-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

/* ------------------------------------------ Admin login page styling */
.admin-login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}