{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<section id="book-a-table" class="book-a-table bg-about">
    <div class="menu bg-about">
        <h2>Book A Table</h2>
        <hr class="hor-line">
    </div>
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <p class="mb-5">Reserve a table at Dowling's Bar & Grill and enjoy our award-winning American
                    inspired food and our amazing drinks menu. See you there!
                </p>
            </div>
        </div>

        <form action="{% url 'booking' %}" method="POST" role="form">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="text" name="booking-name" class="form-control" id="name" placeholder="Your Name">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="email" class="form-control" name="booking-email" id="email" placeholder="Your Email">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="number" class="form-control" name="booking-phone" id="phone" placeholder="Your Phone">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="date" name="booking-date" class="form-control" id="date" required>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <select name="booking-time" class="form-control" id="time">
                        <option value="" disabled selected>Choose Time</option>
                        <option value="12:00 PM">12:00 PM</option>
                        <option value="12:30 PM">12:30 PM</option>
                        <option value="13:00 PM">13:00 PM</option>
                        <option value="13:30 PM">13:30 PM</option>
                        <option value="14:00 PM">14:00 PM</option>
                        <option value="14:30 PM">14:30 PM</option>
                        <option value="15:00 PM">15:00 PM</option>
                        <option value="15:30 PM">15:30 PM</option>
                        <option value="16:00 PM">16:00 PM</option>
                        <option value="16:30 PM">16:30 PM</option>
                        <option value="17:00 PM">17:00 PM</option>
                        <option value="17:30 PM">17:30 PM</option>
                        <option value="18:00 PM">18:00 PM</option>
                        <option value="18:30 PM">18:30 PM</option>
                        <option value="19:00 PM">19:00 PM</option>
                        <option value="19:30 PM">19:30 PM</option>
                        <option value="20:00 PM">20:00 PM</option>
                        <option value="20:30 PM">20:30 PM</option>
                        <option value="21:00 PM">21:00 PM</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <select class="form-control" name="booking-people" id="people">
                        <option value="" disabled selected>Number of people</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                        <option value="2">4</option>
                        <option value="2">5</option>
                        <option value="2">6</option>
                        <option value="2">7</option>
                        <option value="2">8</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="booking-message" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn bg-green-brand white-brand float-right mt-3">Book a Table</button>
        </form>
    </div>
</section>

<!-- JavaScript to make sure booking date is in the future -->

<script>
    const dateInput = document.getElementById("date");
    const currentDate = new Date().toISOString().split('T')[0];
    dateInput.min = currentDate;
</script>

{% endblock content %}