{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<section id="book-a-table" class="book-a-table bg-about">
    <div class="menu bg-about">
        <h2>Book A Table</h2>
        <hr class="hor-line">
    </div>
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <p class="mb-5">Reserve a table at Dowling's Bar & Grill and enjoy our award winning American
                    inspired food and our amazing drinks menu. See you there!
                </p>
            </div>
        </div>

        <form action="{% url 'booking' %}" method="POST" role="form">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="text" name="booking-name" class="form-control" id="name" placeholder="Your Name">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="email" class="form-control" name="booking-email" id="email" placeholder="Your Email">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="number" class="form-control" name="booking-phone" id="phone" placeholder="Your Phone">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="date" name="booking-date" class="form-control" id="date" placeholder="Date">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="time" class="form-control" name="booking-time" id="time" placeholder="Time">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="number" class="form-control" name="booking-people" id="people"
                        placeholder="No. of people">
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="booking-message" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary float-right mt-3">Book a Table</button>
        </form>
    </div>
</section>



{% endblock content %}