<!DOCTYPE html>
<html lang="en">

<head>
    <title>Booking Confirmation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

    </style>
</head>

<body style="font-family: Arial, sans-serif; line-height: 1.6;">

    <table>
        <tr>
            <td>
                <h1>Booking Confirmation</h1>
            </td>
        </tr>
        <tr>
            <td>
                <p>Hello {{ name }},</p>
                <p>We are pleased to confirm your booking at Dowling's Bar & Grill. Below are the details of your
                    reservation:</p>
                <ul>
                    <li><strong>Date:</strong> {{ date }}</li>
                    <li><strong>Time:</strong> {{ time }}</li>
                </ul>
                <p>Should you have any questions or need to make changes to your booking, feel free to contact us at
                    dowlingsbarandgrill@gmail.com.</p>
                <p>We look forward to welcoming you to our restaurant!</p>
                <p>Best regards,</p>
                <p>The Dowling's Bar & Grill Team</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>This is an automated email. Please do not reply to this
                    message.</p>
            </td>
        </tr>
    </table>

</body>

</html>