<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update about your booking at Dowling's Bar & Grill</title>
</head>

<body>
    <h2>Update about your booking at Dowling's Bar & Grill</h2>
    <p>Hello {{ name }},</p>
    <p>We hope this email finds you well. We have received your booking request and appreciate your interest in dining
        with us.</p>
    <p>We wanted to inform you that due to unforeseen circumstances, the time slot you selected is no longer available.
        However, we have an alternative time slot for you.</p>
    <p>New Suggested Time:</p>
    <ul>
        <li>Date: {{ date }}</li>
        <li>Time: {{ time }}</li>
    </ul>
    <p>Please let us know if this new time works for you. If not, feel free to reach out to us, and we will do our best
        to accommodate your schedule.</p>
    <p>You can reach us at dowlingsbarandgrill@gmail.com to confirm your new booking slot</p>
    <p>We look forward to welcoming you to Dowling's Bar & Grill. Should you have any questions or require further
        assistance, please don't hesitate to contact us.</p>
    <p>Best regards,</p>
    <p>The Dowling's Bar & Grill Team</p>
</body>

</html>