<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cancellation of Your Booking</title>
</head>

<body>
    <h2>Booking Cancellation</h2>
    <p>Dear {{ name }},</p>
    <p>We are emailing you to confirm that your booking at Dowling's Bar & Grill has been canceled.</p>
    <p>If you did not request this cancellation, please contact us immediatelly</p>
    <p>Booking Details:</p>
    <ul>
        <li>Date: {{ date }}</li>
        <li>Time: {{ time }}</li>
    </ul>
    <p>Thank you for considering Dowling's Bar & Grill for your reservation. We hope to serve you in the future.</p>
    <p>Best regards,</p>
    <p>The Dowling's Bar & Grill Team</p>
</body>

</html>