{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- main hero image section -->

<div class="jumbotron">
    <div class="hero-text">
        <h1>Dowling's Bar & Grill</h1>
        <h2>Check out our game day menu and call us or book your table online to gaurentee your spot!</h2>
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-12 mb-1">
                <button type="button" class="hero-btn btn btn-outline-warning btn-lg btn-yellow-outline"><a
                        href="{% url 'booking' %}"></a>Book A Table <i
                        class="fa-solid fa-hand-pointer"></i></a></button>
            </div>
            <div class="col-md-6 col-sm-12 mb-1">
                <button type="button" class="hero-btn btn btn-outline-warning btn-lg btn-yellow-outline"><a
                        href="{% url 'home' %}#menu-anchor"></a>View Menu <i
                        class="fa-solid fa-utensils"></i></a></button>
            </div>
        </div>
    </div>
</div>

<!-- About section -->
<section id="about-section">
    <div class="container">
        <h2 class="about-heading">Welcome</h2>
        <hr class="hor-line">
        <div class="row">
            <div class="col-md-6 mt-5">
                <p>
                    Welcome to Dowling's Bar and Grill – where the exhilarating world of sports and the unmistakable New
                    York
                    City vibe come together for an unbeatable experience. As a 3rd generation family-run sports bar,
                    we're more than
                    just a place to watch the game.
                </p>
                <p>Beginning in the heart of the city that never sleeps, Dowling's Bar and Grill embodies the fusion of
                    family
                    tradition and sports passion. Our roots run deep, harking back to the bustling streets of New York
                    where our
                    journey began, John Dowling opened the first Dowling’s in New York City in 1933 after emigrating
                    from Dublin.
                    Across generations, our commitment to serving up great food and unforgettable moments remains
                    unshaken and as
                    brought us back to the shores of Dublin City.</p>
            </div>
            <div class="col-md-6 mt-5">
                <img class="img-fluid about-image" src="{% static 'images/dowlings-pub.jpg' %}"
                    alt="Dowling's Bar and Grill">
            </div>


        </div>
        <div class="row">
            <div class="col-md-6 mt-5">
                <img class="img-fluid about-image" src="{% static 'images/sports-bar.jpg' %}"
                    alt="Dowling's Bar and Grill">
            </div>
            <div class="col-md-6 mt-5">
                <p>Step inside and soak in the electric atmosphere that mirrors the excitement of a packed stadium. The
                    walls filled
                    with sports memorabilia collected over the years, and the cheers from fellow sports enthusiasts
                    create an ambiance
                    that's as thrilling as being front row in the Aviva as the Irish team walk out or on Hill 16 in
                    Croke Park on All
                    Ireland final weekend. At Dowling's, you're not just watching a game – you're part of a community.
                </p>
                <p>Our menu takes inspiration from some American game day classics and is a diverse mix of classic
                    favourites and
                    modern twists. From hearty burgers to finger-licking wings, every bite is a tribute to the dynamic
                    culinary
                    landscape of New York, with an Irish twist of course.</p>
                <p>We look forward to welcoming you to Dowling’s Bar and Grill, whether it’s for the All-Ireland Final
                    or just a
                    Friday night with the boys. Check out our game day menu and book online to avoid disappointment.</p>
            </div>
        </div>


    </div>

</section>
<!-- end of About section -->


<!-- end of Menu section -->
<div id="menu-anchor" class="menu-container">
    <div class="menu bg-about">
        <h2>Menu</h2>
        <hr class="hor-line">
        <div id="menu-container"></div>
    </div>
</div>


<!-- Start of Reservations section -->


<!-- Start of Contact Us section -->

<div id="contact-anchor" class="row contact-section white-brand">
    <div class="col-md-6 col-sm-12 bar-location">
        <h3>Know Where To Find Us</h3>
        <div id="googleMap" class="maps"></div>
    </div>

    <div class="col-md-6 col-sm-12 contact-us">
        <h3>Get in touch..</h3>
        <form name="ajax-form" id="ajax-form" method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="subject">Reason for Query</label>
                <select class="form-control" name="subject" id="subject">
                    <option>Reservations</option>
                    <option>Menu Items</option>
                    <option>Restuarant Information</option>
                    <option>Organise an Event</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="message">Your Message</label>
                <textarea class="form-control" name="message" id="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Submit</button>
        </form>
    </div>

</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeaeVBdmeiEh2NOy28ytWEcOkPJra4XUg&callback=myMap"></script>

{% endblock content %}