{% extends 'base.html' %}
{% load static %}

{% block hero %}
<!-- main hero image section -->

<div class="jumbotron">
    <div class="hero-text">
        <h1>Dowling's Bar & Grill</h1>
        <h2>Check out our game day menu and call us or book your table online to gaurentee your spot!</h2>
        <br>
        <button type="button" class="btn btn-outline-warning btn-lg btn-yellow-outline">Book A Table <i
                class="fa-solid fa-hand-pointer"></i></button>
        <button type="button" class="btn btn-outline-warning btn-lg btn-yellow-outline">View Menu <i
                class="fa-solid fa-utensils"></i></button>
    </div>
</div>
<!-- end of main hero image section -->

{% endblock hero %}

{% block about %}

<!-- About section -->
<div class="bg-about">
    <h2>Welcome</h2>
    <hr class="hor-line">
    <p>
        Welcome to Dowling's Bar & Grill. We are located on the old Dublin road in Co. Westmeath. Join us to watch the
        biggest live sporting events
        and eat some of the best American inspired food cooked by our award winning inhouse chef. Transport to New York
        City with our fresh take
        on the Irish American Sports Bar.
    </p>
    <br>
    <p>Dowling's Bar & Grill is a brand new sports bar and restaurant in the midlands of Ireland. Our aim is to
        serve up some of the best American inspired food on the island while showing all
        live sports daily. We show GAA, Football, NBA, NFL, UFC, WWE, Tennis, Formula 1, Cricket and much much
        more.. We have over 50 wide screen TV's and cater for all occasions.</p>
</div>
<!-- end of About section -->

{% endblock about %}

<!-- end of Menu section -->
{% block menu %}

    <div class="menu-container">
        <div class="menu bg-about">
            <h2>Menu</h2>
            <hr class="hor-line">
            <div id="menu-container"></div>
        </div>
        <button type="button" class="btn btn-outline-warning btn-yellow-outline">Download Menu</button>
    </div>

{% endblock menu %}

<!-- end of Menu section -->
{% block contact %}

<div class="row bg-green-brand white-brand">
    <div class="col-6 bar-location">
        <h3>This is where the map will be</h3>
    </div>
    <div class="col-6 contact-us">
        <h3>Get in touch..</h3>
        <form role="form" name="ajax-form" id="ajax-form" method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="subject">Reason for Query</label>
                <select class="form-control" name="subject" id="subject">
                    <option>Reservations</option>
                    <option>Menu Items</option>
                    <option>Restuarant Information</option>
                    <option>Organise an Event</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="message">Your Message</label>
                <textarea class="form-control" name="message" id="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Submit</button>
        </form>
    </div>

</div>

{% endblock contact %}