{% extends 'base.html' %}

{% block content %}
<!-- main hero image section -->

<div class="jumbotron">
    <div class="hero-text">
        <h1>Dowling's Bar & Grill</h1>
        <h2>Check out our game day menu and call us or book your table online to gaurentee your spot!</h2>
        <br>
        <button type="button" class="btn btn-outline-warning btn-lg btn-yellow-outline">Book A Table <i
                class="fa-solid fa-hand-pointer"></i></button>
        <button type="button" class="btn btn-outline-warning btn-lg btn-yellow-outline">View Menu <i
                class="fa-solid fa-utensils"></i></button>
    </div>
</div>
<!-- end of main hero image section -->



{% endblock content %}