{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- message alerts  -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<!-- page heading -->
<div class="container">
    <h1>Manage Bookings</h1>

    <!-- booking cards -->
    <div class="booking-container">
        {% for booking in unconfirmed_bookings %}
        <div class="mt-5 col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card h-100 booking-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ booking.name }}</h5>
                        <p class="card-text">Email: {{ booking.email }}</p>
                        <p class="card-text">Phone: {{ booking.phone }}</p>
                        {% if booking.suggested_date and booking.suggested_time %}
                        <p class="card-text">Date: {{ booking.suggested_date }}</p>
                        <p class="card-text">Time: {{ booking.suggested_time }}</p>
                        {% else %}
                        <p class="card-text">Date: {{ booking.date }}</p>
                        <p class="card-text">Time: {{ booking.time }}</p>
                        {% endif %}
                        <p class="card-text">People: {{ booking.people }}</p>
                        <p class="card-text">Message: {{ booking.message }}</p>
                        {% if not booking.accepted %}
                        <form method="POST" action="{% url 'manage' %}">
                            {% csrf_token %}
                            <input type="hidden" name="booking-id" value="{{ booking.id }}">
                            <input type="hidden" name="action" value="accept">
                            <input class="btn-block bg-green-brand white-brand form-control" type="submit"
                                value="Accept">
                        </form>
                        <form method="POST" action="{% url 'manage' %}">
                            {% csrf_token %}
                            <input type="hidden" name="booking-id" value="{{ booking.id }}">
                            <input type="hidden" name="action" value="suggest_time">
                            <label for="suggested-date-{{ booking.id }}">Suggested Date:</label>
                            <input type="date" class="form-control mb-2" id="suggested-date-{{ booking.id }}"
                                name="date" required>
                            <label for="suggested-time-{{ booking.id }}">Suggested Time:</label>
                            <input type="time" class="form-control mb-2" id="suggested-time-{{ booking.id }}"
                                name="time" min="12:00" max="21:00" step="900" required>
                            <input class="btn-block bg-gold-brand form-control" type="submit" value="Suggest New Time">
                        </form>
                        {% else %}
                        <form method="POST" action="{% url 'manage' %}">
                            {% csrf_token %}
                            <input type="hidden" name="booking-id" value="{{ booking.id }}">
                            <div class="form-group">
                                <label for="date-{{ booking.id }}">Edit Date:</label>
                                <input type="date" class="form-control mb-2" id="date-{{ booking.id }}" name="date"
                                    value="{{ booking.date }}" required>
                                <label for="time-{{ booking.id }}">Edit Time:</label>
                                <input type="time" class="form-control mb-2" id="time-{{ booking.id }}" name="time"
                                    value="{{ booking.time }}" min="12:00" max="21:00" step="900" required>
                            </div>
                            <input class="btn-block btn-primary form-control" type="submit" name="action"
                                value="Update Booking">
                            <input class="btn-block btn-primary form-control" type="submit" name="action"
                                value="Accept Booking">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- booking cards pagination -->
<div class="d-flex justify-content-center mt-4">
    <nav aria-label="Bookings pagination">
        <ul class="pagination">
            {% if unconfirmed_bookings.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ bookings.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for num in unconfirmed_bookings.paginator.page_range %}
            <li class="page-item {% if num == unconfirmed_bookings.number %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}

            {% if unconfirmed_bookings.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ bookings.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ bookings.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock content %}